<p>Rooms List:</p>
    <!-- {{roomList}} -->
     <table>
        <tr class="border">
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Amenities</th>
            <th>Room Price</th>
            <th>Room Check In Time</th>
            <th>Room Check Out Time</th>
            <th>Rating</th>
        </tr>
        <!-- Note: probably should look up how ngClass can work with Angular -->
        <!-- Also note: can lookup ngStyle, his example wasn't as good [ngStyle]=... -->
        <tr [ngClass] = "e ? 'even' : 'odd'" class="border" *ngFor="let room of rooms | slice: 0:100; let e=even; let o=odd; let i=index"> <!-- Basic *ngFor implementation --> <!-- Slice parameter to only show a certain # of objects -->
            <td>{{ i | percent }}</td>
            <td>{{ e ? "Even" : "Odd" }}</td>
            <td>{{ room.roomNumber }}</td>
            <td class="border-l p-1">{{ room.roomType }}</td>
            <td class="border-l p-1">{{ room.amenities | titlecase }}</td> <!-- Pipes: "| <pipename>"-->
            <td class="border-l p-1">{{ room.price | currency }}</td>
            <td class="border-l p-1">{{ room.checkInTime | date : 'dd/MM/yyy' }}</td>
            <td class="border-l p-1">{{ room.checkOutTime | date : 'short' }}</td>
            <td class="border p-1">{{ room.rating | number : '1.0-2' }}</td> <!-- 1 (number before decimal) . 0-0 (numbers after decimal point - max numbers after decimal point)-->
        </tr>
     </table>