/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /* Importing the Lora font from Google Fonts */


/* This is how i've figured out how to add custom colors to tailwind css */
/*
@theme {
    --color-goatColor-100: #a4ebe4;
    --color-goatColor-200: #7fe3dd;
    --color-goatColor-300: #59dbd6;
    --sm-screen: '480px';
    --md-screen: '768px';
    --lg-screen: '976px';
    --xl-screen: '1440px';
    --spacing-1: 6px;
    --font-size-base: 18px; /* Can't get this to work */ /*
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
}
*/

@layer base {
    html {
        /* background-color: lime;  lol, makes the base html background color lime */
        /* @apply bg-slate-600 text-white text-lg font-bold; background is slate, all text by default is white, text large, and font is bold */
        
        /* Applying the Lora font to the entire application */
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    h1 {
        @apply text-3xl font-bold mb-2;
    }
    h2 {
        @apply text-xl font-semibold mb-1;
    }
    p {
        @apply text-base;
    }
    a {
        @apply underline text-blue-600 hover:text-purple-500 transition decoration-wavy underline-offset-4;
    }
    input, select {
        @apply text-slate-500 p-1 m-1 outline-none border border-slate-300 rounded-sm;
    }
    select { /*Note: select now has some classes to itself as well :D*/
        @apply pr-8;
    }
    input[type="text"] {
        @apply disabled:bg-slate-100 placeholder:italic;
    }
    input[type="date"] {
        @apply p-2;
    }
    input[type="checkbox"] {
        @apply p-2 accent-purple-500 mr-1 mb-0 mt-0.5; /*appearance-none gets rid of appearance to work with something more (also gets rid of the check)*/
    }
    label {
        @apply text-sm text-slate-700 font-medium leading-4;
    }
    .btn {
        @apply px-4 py-2 rounded-lg cursor-pointer text-white disabled:bg-slate-400/30 hover:disabled:opacity-100;
    }
    .btn:hover{
        @apply transition duration-300 opacity-80; /*Can also just put this in .btn*/
    }
    .btn-primary {
        @apply bg-blue-600 dark:bg-red-200; /*Can also edit the darkmode colors, lol. Note: may need to edit config files to add dark mode editing to app */
    }
    .btn-secondary {
        @apply bg-slate-800;
    }
    .Select1 {
        @apply inline-block pr-8 cursor-pointer hover:bg-slate-100 border transition;
    }
}
/*Note: can also create your own tailwind.config.js that can edit the entire tailwind, lol. Or even use extend to write off from the base. */